services:
  postgres:
    container_name: postgres_pet_family
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: pet_family
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5434:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: always
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_ADMINPASSWORD: secure
    ports:
      - 5341:5341
      - 8081:80
  minio:
    container_name: minio
    image: minio/minio
    restart: always
    ports:
      - 9000:9000
      - 9001:9001 
    volumes:
      - minio_data:/data
    command: server --console-address ":9001" /data
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
     
volumes:
  postgres-data:
  minio_data:
  redis_data:  